<div class="row" style="margin-top: 70px">
  <div class="col-sm-12">
    <div class="display-1" style="text-align: center;">
      <!-- Box 1 -->
      <div style="
        background-color: #007bff;
        color: white;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        display: inline-block;
        margin-bottom: 10px;
        font-size: 2.0em;">
        RoomLink
      </div>
      <br>
      <!-- Box 2 -->
      <div style="
        background-color: #007bff;
        color: white;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        display: inline-block;
        margin-bottom: 10px;
        font-size: 1.6em;">
        Linking rooms to the people who need them
      </div>

    </div>


  </div>
</div>



